# Size of the kmers
k=16

# Length of the  sampled read ends to analyse
sl=100

# Number of sequences to sample
sn=40000

# This is the number of kmer kept after exact count
# They will be then ressearched at ~2 error.
lim=500

# Low Complexity threshold for k16 (it will be automatically adjusted to your kmer size)
lc=1.0

#####################
# Unused parameters #
#####################
# You can set outfile here, or using -o flag.
# o=./

# Number of thread to use. It is set automatically in ab_initio.py,
# You can force the value  here by decommenting next line
# nt=4

# If you want to also keep the exact counts, set a path and prefix for the files here
# e=path/to/folder/exact_count
